In [1]:
"""
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Ans :-
"""

l = [ "String", [ 1, 2, 3, "Nevil", 44.4 ], 55.55, ("Nevil", "Rohit") ] 
type (l)

list

In [ ]:
"""
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

Ans :-

(i) String
(ii) String
(iii) List
(iv) int
"""

In [ ]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Ans :-

(i) It is a division operator. It is a type of arithematic operator which performs division operation.
(ii) It is a modulo operator. It is a type of arithematic operator which gives remainder as a result.
(iii) It is a floor divison operator. It performs divison on twoo numbers and gives us the nearest rounded off result.
(iv) It is a power operator. Suppose there are two numbers a nd b. Then a**b will give us a power b.
"""

In [2]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Ans :-
"""
List = [ 45, 14.5, 'c', "Kunj", 10 + 16j, True, False, [ 120, 12.18, 'Nevil'], ( 10, "Rohit") ]
for i in List :
        print (i)
        print (type(i))

45
<class 'int'>
14.5
<class 'float'>
c
<class 'str'>
Kunj
<class 'str'>
(10+16j)
<class 'complex'>
True
<class 'bool'>
False
<class 'bool'>
[120, 12.18, 'Nevil']
<class 'list'>
(10, 'Rohit')
<class 'tuple'>

In [3]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Ans :-
"""

a = int(input("Enter A :- "))
b = int(input("Enter B :- "))
count =0

while (1) :
    Ans = a / b
    if ( a % b == 0) :
        count += 1
    else :
        break 
    a =Ans
print(count)

Enter A :-  64
Enter B :-  2

6

In [4]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Ans :-
"""

list = [15,25,36,65,12,656,78,12,30,47,89,123,45,78,46,96,1465,7895,655,321,5698,120,360,650,299]

for i in list :
    if(i%3==0) :
        print("",i," is divisible by 3")
    else :
        print("",i," is not divisible by 3")

 15  is divisible by 3
 25  is not divisible by 3
 36  is divisible by 3
 65  is not divisible by 3
 12  is divisible by 3
 656  is not divisible by 3
 78  is divisible by 3
 12  is divisible by 3
 30  is divisible by 3
 47  is not divisible by 3
 89  is not divisible by 3
 123  is divisible by 3
 45  is divisible by 3
 78  is divisible by 3
 46  is not divisible by 3
 96  is divisible by 3
 1465  is not divisible by 3
 7895  is not divisible by 3
 655  is not divisible by 3
 321  is divisible by 3
 5698  is not divisible by 3
 120  is divisible by 3
 360  is divisible by 3
 650  is not divisible by 3
 299  is not divisible by 3

In [ ]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property. 

Ans :-

Mutable Data Types :- it is that data type in which we can changed their index element. OR mutable can be modified after its creation. 
                      Example :- List
Immutable Data Types :- it is that data type in which we can not changed their index element. OR immutable can not be modified.
                        after its creation. 
                        Examples :- String , Tuples
                
"""